<section id="accordions">
<div class="container">
    <div class="full-width">
        <div class="small-padding">
            <h2 class="pink-underline small-bottom-padding">Account Information</h2>
            
            <div class="accordion round-corners light-pink-background">
                <div class="accordion-headline">
                    <h4>Name</h4>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            
            <div class="accordion round-corners light-green-background">
                <div class="accordion-headline">
                    <h4>Allergies</h4>
                </div>
                <div class="accordion-content">
                <ul>
                <%  @user.allergies.each do |allergy| %> 
                    <li> <%=allergy.name %> </li>
                    <% end%>
                </ul> 
                </div>
            </div>
            
            <div class="accordion round-corners light-blue-background">
                <div class="accordion-headline">
                    <h4>Symptoms</h4>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Symptom Date:
                </div>
            </div>
            
        </div>
    </div>
</div>
</section>
