<h1>TEST</h1>
        <section id="tables">
        <div class="container">
            <div class="full-width">
                <div class="small-padding">
                    <h2 class="purple-underline small-bottom-padding">Tables</h2>
                </divs>
            </div>
            <div class="half">
                <div class="small-padding">
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Katie</td>
                                <td>katie@example.com</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Hannah</td>
                                <td>hannah_panda@example.com</td>
                                <td>17</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Joseph</td>
                                <td>coolguy@example.com</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Arin</td>
                                <td>whatever@example.com</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Danny</td>
                                <td>dannyyyyyy@example.com</td>
                                <td>18</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>