<section id="heading">
<div class="full-width">
    <div class="small-padding">
        <h2>Nikita&apos;s Website</h2>
    </div>
</div>
</section>


<section id="buttons-links">
            <div class="container small-padding">
                <div class="full-width">
                    
                    <p>
                        <a class="button" href="#">Login</a>
                        <a class="pink-button" href="#">Create an Account</a>
                    </p>
                </div>
            </div>
        </section>